@model IEnumerable<Vidly.Models.Customer>
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>
@if (!Model.Any())
{
    <p>We dont have any customers</p>
}
else
{
    <table id="customers" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Customers</th>
                <th>Subscription</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model)
            {
                <tr>
                    <td> @Html.ActionLink((string)customer.Name, "Edit", "Customer", new { id = customer.Id }, null)</td>

                    <td>@customer.MembershipType.NameofSubscription</td>
                    <td><button data-customer-id="@customer.Id" class="btn-link js-delete">Delete</button></td>
                </tr>
            }
        </tbody>
    </table>
}

@section scripts
{
    <script>
    $(document).ready(function (){
        $("#customers .js-delete").on("click", function () {
            var button = $(this);
            $.ajax({
                url: "/api/customers/" + button.attr("data-customer-id"),
                method: 'DELETE',
                success: function () {
                    button.parents("tr").remove();
                }
            })
        });
    });
    </script>
}
