@model IEnumerable<Vidly.Models.Movie>
@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>
<div class="form-group">@Html.ActionLink("New Movie", "NewMovie", "Movie", null, new { @class = "btn btn-primary" }) </div>

    <table id="movies" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Movies</th>
                <th>Genre</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @*@foreach (var movie in Model)
            {
                <tr>
                  
                    <td>@Html.ActionLink(movie.Name, "Details", "Movies", new { id = movie.Id }, null)</td>
                    <td>@movie.Genre.NameOfGenre</td>
                </tr>
            }*@
        </tbody>
    </table>

@section scripts
{    
    <script>
        $(document).ready(function () {
            var table = $("#movies").DataTable({
                ajax: {
                    url: "/api/movies/",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        render: function (data, type, movie) {
                            return "<a href='/movies/edit/" + movie.id + "'>" + movie.name + "</a>";
                        }                       
                    },
                    {
                        data:"genre.nameOfGenre"
                    },
                    {
                        data :"id",
                        render: function (data) {
                           return "<button class='btn-link js-delete' data-movie-id=" + data + ">Delete</button>";
                        }
                    }
                ]
            });

            $("#movies").on("click", ".js-delete", function () {
                var button = $(this);
                bootbox.confirm("Are you sure to delete this movie?", function (result) {
                    if (result) {
                        $.ajax ({
                            url: "/movies/edit/" + result.id,
                            method: "Delete",
                            success: function () {
                                table.row(button.parent("tr")).remove().draw();
                            }
                        });
                    }
                });               
            });
        });
    </script>
}

